WebContent/wsdl/WebServiceProveedor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviciosweb" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciosweb" xmlns:intf="http://serviciosweb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviciosweb" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="actualizar">
    <complexType>
     <sequence>
      <element name="uid" type="xsd:int"/>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="pais" type="xsd:string"/>
      <element name="region" type="xsd:string"/>
      <element name="ciudad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarResponse">
    <complexType>
     <sequence>
      <element name="actualizarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ingreso">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="pais" type="xsd:string"/>
      <element name="region" type="xsd:string"/>
      <element name="ciudad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ingresoResponse">
    <complexType>
     <sequence>
      <element name="ingresoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminar">
    <complexType>
     <sequence>
      <element name="uid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarResponse">
    <complexType>
     <sequence>
      <element name="eliminarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listar">
    <complexType/>
   </element>
   <element name="listarResponse">
    <complexType>
     <sequence>
      <element name="listarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarResponse">

      <wsdl:part element="impl:listarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ingresoRequest">

      <wsdl:part element="impl:ingreso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarResponse">

      <wsdl:part element="impl:eliminarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarRequest">

      <wsdl:part element="impl:listar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarResponse">

      <wsdl:part element="impl:actualizarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarRequest">

      <wsdl:part element="impl:actualizar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ingresoResponse">

      <wsdl:part element="impl:ingresoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarRequest">

      <wsdl:part element="impl:eliminar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceProveedor">

      <wsdl:operation name="actualizar">

         <wsdl:input message="impl:actualizarRequest" name="actualizarRequest">

       </wsdl:input>

         <wsdl:output message="impl:actualizarResponse" name="actualizarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ingreso">

         <wsdl:input message="impl:ingresoRequest" name="ingresoRequest">

       </wsdl:input>

         <wsdl:output message="impl:ingresoResponse" name="ingresoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminar">

         <wsdl:input message="impl:eliminarRequest" name="eliminarRequest">

       </wsdl:input>

         <wsdl:output message="impl:eliminarResponse" name="eliminarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listar">

         <wsdl:input message="impl:listarRequest" name="listarRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarResponse" name="listarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceProveedorSoapBinding" type="impl:WebServiceProveedor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="actualizar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ingreso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ingresoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ingresoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceProveedorService">

      <wsdl:port binding="impl:WebServiceProveedorSoapBinding" name="WebServiceProveedor">

         <wsdlsoap:address location="http://localhost:8080/TallerJSP/services/WebServiceProveedor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
